<nav class="navbar navbar-inverse">
    <div class="bandeau">
        <img src="{{ asset('bundles/aqmart/images/site/bandeau.jpg') }}" alt="bandeau.jpg" id="bandeau_img">
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li title="Acceuil">
                <a id="navbar-home-link" href="{{ path('aqm_art_homepage') }}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            {% for categorie in categories %}
                <li><a href="{{ path('aqm_art_articles_view', { 'slug': categorie.slug }) }}">{{ categorie.libelle }}</a></li>
            {% endfor %}
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
            <ul id="nav-bar-list" class="nav navbar-nav navbar-right">
                <li><a id="navbar-admin-begin" href="{{ path('aqm_art_articles') }}">Gérer les articles</a></li>
                <li><a href="{{ path('aqm_art_categories') }}">Gérer les catégories</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Mon compte <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><i class="fa fa-user"></i> Connecté en tant que {{ app.user.username }}</li>
                        <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil"></i> Editer mon profil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id="rencontrez-nous-link" href="#rencontrez-nous" class="btn btn-warning">Rencontrez-nous !</a>
            </li>
        </ul>
    </div>
</nav>