{% extends "AQMArtBundle::layout.html.twig" %}

{% block body %}
    <div class="well login-div">
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}

        <div class="login-block">
            <form action="{{ path('fos_user_security_check') }}" method="post">
                <h2 class="color-login">Connexion</h2>
                <div class="md-form">
                    <i class="fa fa-user prefix color-login-btn"></i>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" autofocus/>
                    <label for="username">Login</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix color-login-btn"></i>
                    <input type="password" id="password" name="_password" class="form-control" />
                    <label for="password">Mot de passe</label>
                </div>
                <div class="text-center">
                    <input type="submit" value="Connexion" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/aqmart/js/login.js') }}"></script>
{% endblock %}
