{% extends 'AQMArtBundle::layout.html.twig' %}

{% block body %}
    <div class="well">
        <h2><i class="fa fa-book color-submit-btn"></i> Catégories</h2>
        <a href="{{ path('aqm_art_categories_add') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Ajouter une catégorie</a>
        <table class="table table-striped">
            <thead>
                <th>Nom</th>
                <th>Ordre</th>
                <th>Actions</th>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.libelle }}</td>
                    <td>{{ categorie.ordre }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('aqm_art_categories_edit', { 'id': categorie.id }) }}"><i class="fa fa-pencil"></i> Modifer</a>
                        <a class="btn btn-danger delete_categorie_btn" href="{{ path('aqm_art_categories_delete', { 'id': categorie.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer la catégorie ?\nVous supprimerez TOUS les articles dans cette catégorie')">
                            <i class="fa fa-trash"></i> Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}